.fields {
    width: calc(100% - 250px);
    margin: 0 0 0 270px;
    padding: 80px 20px;
    background-color: #fff;
}

.page-field {
    background-color: #fff;
}

.content-page {
    margin: 40px 0;
}