body {
    width: 100%;
    background-color: #EFF5F7;
}

.login {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px 150px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    text-decoration-line: underline;
}

.login-form__control {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    box-sizing: border-box;
}

.tittle-login {
    margin: 0 auto;
    padding-bottom: 20px;
}

.input-login{
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 34px;
    padding: 8px 12px;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
    border: none;
}

.input-login:focus {
    box-shadow: 0 0 8px #F0564A;
    border: 1px solid #F0564A;
}

.login-form .login-form__control:nth-child(3) {
    flex-direction: row-reverse;
}

.line-forgot-password:hover {
    text-decoration-line: underline;
    cursor: pointer;
    color: #F0564A;
}

.register-line {
    margin: 0 auto;
    border: none;
    background-color: #fff;
    font-size: 16px;
    /* margin-top: 30px; */
}

.register-line:hover {
    text-decoration-line: underline;
    cursor: pointer;
    color: #F0564A;
}
