.home-chien-dich-container {
  width: 100%;
}
.home-chien-dich-container .btn-open-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.home-chien-dich-container .btn-open-modal button {
  width: 250px;
  height: 40px;
  border: none;
  background-color: rgb(240, 86, 74);
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}
.home-chien-dich-container .search {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.home-chien-dich-container .search input {
  outline: none;
  width: 400px;
  height: 30px;
  padding-left: 10px;
  border-radius: 20px;
  margin-right: 20px;
}
.home-chien-dich-container .search select {
  width: 200px;
  height: 30px;
  outline: none;
  padding-left: 10px;
  border-radius: 20px;
}
.home-chien-dich-container .list-chien-dich {
  padding: 0 200px;
  margin-bottom: 50px;
  position: relative;
}
.home-chien-dich-container .pagination {
  margin: 20px 0;
  position: absolute;
  right: 50px;
}
.home-chien-dich-container .list-chien-dich .item {
  margin-top: 20px;
}
