.name-main {
    width: 100%;
    align-items: center; 
}

.name-main__header {
    height: '40px'; 
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
    margin-bottom: 20px;
}

.header__name-kol {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}

.header__button-like {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__button-like p {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding-left: 5px;
}

.header__button-like svg {
    transform: scale(1.5);
  }

.name-main__bottom {
    display: flex;
}

.bottom-item {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.bottom-item__title {
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
}

.bottom-item__content {
    font-size: 20px;
    color: #F0564A;
}


