.campaign {
  padding-top: 66px;
  background-color: #fff;
}

.campaign-row-1 {
  box-sizing: border-box;
  background-color: #f0f2f5; 
}

.campaign-col-6-left {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: calc(100% / 24 * 6);
  height: 800px;
}

.campaign-col-18-right {
  padding: 20px 10px 20px 20px;
  margin-left: calc(100% / 24 * 6);
}

.sub-tab {
  width: 100%;
}

.menu-campaign {
  padding: 20px;
  height: 100%;
}

.campaign-modal-dangDienRa {
  /* overflow-y: hidden; */
}

.dangDienRa-modal-search {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 40px;
}

.dangDienRa-modal-search .search-modal-select {
  height: 40px;
  margin: 0 10px;
  font-size: 16px;
  padding-left: 5px;
  width: 20%;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dangDienRa-modal-listChienDich {
  height: 550px;
  overflow-y: scroll;
  padding-right: 40px;
}

.dangDienRa-modal-listChienDich::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dangDienRa-modal-listChienDich::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}

.dangDienRa-modal-listChienDich::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}

.dangDienRa-modal-listChienDich::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}

.dangDienRa-modal-listChienDich::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}

.dangDienRa-modal-listChienDich .listChienDich-item {
  /* width: 100%; */
  /* margin: 0 auto; */
  /* box-sizing: border-box; */
}

.child-chien-dich-container {
  width: 100%;
  padding: 20px 30px 20px 30px;
  /* box-shadow: 1px 2px 7px 0px #888888; */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 20px;
}

.child-chien-dich-container .chenDich-container-wrap-header {
  display: flex;
  justify-content: space-between;
}

.child-chien-dich-container .wrap-header-name-chienDich {
  margin-bottom: 5px;
  width: 70%;
}

.chienDich-item-title {
  font-weight: 600;
  font-size: 18px;
}

.chienDich-item-title-small {
  font-weight: 600;
  font-size: 16px;
}

.chienDich-item-title-data {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.child-chien-dich-container .infor-chien-dich {
  width: 100%;
  display: flex;
  /* box-sizing: border-box; */
}

.child-chien-dich-container .infor-chien-dich .left-infor {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-chien-dich-container .infor-chien-dich .left-infor img {
  width: 150px;
}

.child-chien-dich-container .infor-chien-dich .right-infor {
  margin-left: 20px;
  width: calc(100% - 150px);
}

.child-chien-dich-container .right-infor .thoi-gian {
  margin-bottom: 5px;
}

.child-chien-dich-container .right-infor .linh-vuc {
  margin-bottom: 5px;
}

.linh-vuc-list {
  display: flex;
}

.child-chien-dich-container .right-infor .mo-ta {
  height: 60px;
  width: 100%;
}

.child-chien-dich-container .right-infor .mo-ta .noi-dung {
  margin-top: 5px;
  border: 1px solid #8f8f87;
  border-radius: 10px;
  height: 90px;
  padding-left: 5px;
  overflow: auto;
}

.right-infor .action {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}

.right-infor .action .action-btn {
  width: 150px;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid rgb(240, 86, 74);
  color: #fff;
  background-color: rgb(240, 86, 74);
}

.right-infor .action .action-btn:hover {
  border: 1px solid rgb(240, 86, 74);
  background-color: #fff;
  color: rgb(240, 86, 74);
}

.top-modal-infor {
  display: flex;
  justify-content: space-between;
}
.bottom-modal-infor {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.bottom-modal-infor .left-modal {
  width: 70%;
}
.bottom-modal-infor .left-modal .image {
  /* height: 150px; */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.bottom-modal-infor .left-modal label {
  font-weight: 600;
}
.bottom-modal-infor .left-modal .mota {
  min-height: 200px;
  border: 1px solid rgb(104, 92, 92);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}
.bottom-modal-infor .right-modal {
  width: 30%;
  padding-left: 20px;
}
.bottom-modal-infor .right-modal .list {
  border: 1px solid rgb(104, 92, 92);
  margin-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  min-height: 110px;
}
.bottom-modal-infor .right-modal .list a {
  color: #333;
}
.bottom-modal-infor .right-modal .list a:hover {
  color: blue;
}

.bottom-infor-btn {
  display: flex;
  justify-content: flex-end;
}

.bottom-infor-btn .btn-tham-gia {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid rgb(240, 86, 74);
  color: #fff;
  background-color: rgb(240, 86, 74);
}

.bottom-infor-btn .btn-tham-gia:hover {
  border: 1px solid rgb(240, 86, 74);
  background-color: #fff;
  color: rgb(240, 86, 74);
}

/* SliderImage.jsx */

.slick-slide > div {
  margin: 0 5px;
}
.slick-list {
  margin: 0 -5px;
}
.slick-prev:before {
  color: gray;
}
.slick-next:before {
  color: gray;
}
.slider-image {
  /* height: 200px; */
  width: 80%;
}
.slider-image .image-slider {
  height: 400px;
  position: relative;
}

.slider-image .image-item {
  border-radius: 10px;
}
.slider-component {
  text-align: center;
}

/* SliderImage.jsx */

/* ThongTinChienDich.jsx */

.modal-chienDich-thongTin {
  padding: 0 20px;
}

.chienDich-thongTin-moTa .moTa-list-image {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}

.moTa-list-image .wrap-image {
  margin: 0 5px;
  width: 25%;
}

.list-image-item {
  /* width: 100%; */
  /* flex: 1;  */
  /* object-fit: contain; */
}
.list-image-item:hover {
  flex: 5;
}

.moTa-description {
  white-space: pre-wrap;
}

.moTa-introduce {
  white-space: pre-line;
}

.chiTiet-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ThongTinChienDich.jsx */

/* ModalDangThamGia */

.dangThamGia-modal-listChienDich {
  height: 550px;
  overflow-y: scroll;
  padding-right: 40px;
}

.dangThamGia-modal-listChienDich::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dangThamGia-modal-listChienDich::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}

.dangThamGia-modal-listChienDich::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}

.dangThamGia-modal-listChienDich::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}

.dangThamGia-modal-listChienDich::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}

.dangThamGia-modal-search {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 40px;
}

.dangThamGia-modal-search .search-modal-select {
  height: 40px;
  margin: 0 10px;
  font-size: 16px;
  padding-left: 5px;
  width: 20%;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* ModalDangThamGia */

/* ModalTaoChienDich */

.campaign-modal-create-campaign {
  padding: 40px 40px 40px 0;
  background-color: #fff;
}

.tao-chien-dich-input {
  display: flex;
  margin-bottom: 20px;
}
.tao-chien-dich-input .title {
  margin-right: 10px;
  width: 100px;
}

/* ModalTaoChienDich */

/* ModalChienDichDaTao */

.campaign-modal-created {
  /* text-align: center; */
}

.created-modal-listChienDich {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.created-modal-listChienDich .listChienDich-item {

}

.created-modal-search {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
}

.created-modal-select {
  width: 20%;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
}

/* ModalChienDichDaTao.jsx */

/* CampaignCreated.jsx */

.created-campaign-container {
  width: 80%;
  /* padding: 0 0 20px 0; */
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 6px #ccc;
}

.created-campaign-container .created-item {
  width: 100%;
  display: flex;
  /* padding: 10px 0; */
  /* border-bottom: 1px solid #ccc; */
}

.created-campaign-container .created-item .item-left {
  width: 20%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-right: 20px;
  padding-bottom: 20px;
  
}

.item-left .image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    /* height: 100px; */
    margin-top: auto;
    margin-bottom: auto;
    /* border-radius: 10px 0 0 0 ; */
}

.item-left .image:hover {
  cursor: pointer;
}

.created-campaign-container .created-item .item-right {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.item-right .item-right-bottom {
  display: flex;
  flex-direction: row-reverse;
}

.item-right-middle {
  font-size: 16px;
  font-weight: 500;
  color: #687176;
}

.item-right .item-right-top {
  font-weight: 500;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-right .item-right-top:hover {
  cursor: pointer;
  text-decoration: underline;
}

.item-right .item-right-bottom .bottom-btn {
  margin: 0 10px;
}

/* CampaignCreated.jsx */

/* ItemCampaign */

.doing-modal-list-campaign {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding: 0 20px;

}

.page-pagination {
  text-align: center;
}

.wrap-campaign-card-item {
  width: 33%;
}

.campaign-card-item {
  width: 250px;
  height: 300px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s ease;
  backface-visibility: hidden;
  margin: 20px auto;
}

.campaign-card-item:hover {
  transform: scale(1);
}

.campaign-card-item:hover img {
  transform: scale(1.25);
}

.campaign-card-item img {
  height: 100%;
  z-index: 0;
  transition: all .25s ease;
}

.campaign-card-item .card-item-context {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  /* transform:  scale(0.9); */
  transition: all .25s ease;
}

.campaign-card-item .card-item-context p {
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  transition: all .25s ease;
  opacity: 0;
  margin-bottom: -200px;
  font-size: 16px;
}

.campaign-card-item .card-item-context h2 {
  opacity: 1;
  transform: translateY(-200%);
  padding: 0 20px;
}

.campaign-card-item .card-item-context div {
  opacity: 0;
}

.campaign-card-item:hover .card-item-context {
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0) 8%, rgba(0,0,0,1) 100%);
}


.campaign-card-item:hover .card-item-context p {
  opacity: 1;
  margin-bottom: 20px;
  padding: 0 20px;
  padding-bottom: 10px;
}

.campaign-card-item:hover .card-item-context h2 {
  padding: 0 20px;
  transform: translateY(0);
}

.campaign-card-item:hover .card-item-context div {
  opacity: 1;
  width: calc(100% - 40px);
  text-align: center;
  position: absolute;
  top: -100px;
  box-sizing: border-box;
  height: 100px;
  margin: 0 20px;
  border: 5px solid #fff;
  cursor: pointer;
}

.campaign-card-item .card-item-context .context-btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}

.campaign-card-item .card-item-context div:hover {
  box-shadow: 0px 0px 10px rgb(240, 86, 74);
  border: 5px solid rgb(240, 86, 74);
}

.campaign-card-item .card-item-context div:hover .context-btn {
   color: rgb(240, 86, 74);
   font-size: 24px;
   font-weight: 800;
}

/* ItemCampaign */
