.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 70px;
    background-color: #fff;
  }
  
  .tab-button {
    border: none;
    background-color: rgb(240, 86, 74);
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    border-radius: 50px;
  }
  
  .tab-button:hover {
    background-color: #fff;
    color: rgb(240, 86, 74);
    border: 1px solid rgb(240, 86, 74);
  }
  
  .tab-button.active {
    background-color: #fff;
    color: rgb(240, 86, 74);
    border: 1px solid rgb(240, 86, 74);
  }
  