.content {
    margin-left: 250px;
    padding-top: 67px;
    padding-left: 2px;
    padding-bottom: 50px;
    width: calc(100% - 250px);
}

.content-pagination .ant-pagination-options {
    display: none !important;
}

.content-pagination .ant-pagination {
    text-align: center;
}

.content-middle .content-page {
    margin: 10px 0;
}

.content-bottom .content-page {
    margin: 10px 0;
}

.content-top {
    background-color: #fff;
    padding: 10px 50px;
    box-sizing: border-box;
}

.content-middle,.content-bottom {
    background-color: #fff;
    padding: 10px 50px;
    box-sizing: border-box;
}