.main-details {
  padding: 65px 0;
  background-color: #fff;
}

.container {
  width: 1200px;
  margin: 20px auto;
}
.main-details .detail-description {
  display: flex;
}
.top-details .left-description {
  height: 440px;
  width: 35%;
  background-color: #e8e8e8;
}

.top-details .left-description .slider-image {
  padding-top: 10px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
.top-details .left-description .contact-info {
  margin-top: 10px;
  height: 15%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info img {
  height: 70%;
  margin: 10px;
  cursor: pointer;
}
.contact-info img:hover {
  scale: 1.2;
}

.top-details .right-description {
  height: 450px;
  width: 65%;
  padding-left: 5%;
}
.top-details .right-description .name {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-details .right-description .name .name {
  height: 100%;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  background-color: #e8e8e8;
  border-radius: 5px;
}
.right-description .name .name span {
  margin-left: 20px;
}
.top-details .right-description .gender {
  height: 20%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-details .right-description .gender .gender {
  height: 100%;
  width: 50%;
  font-size: 20px;
  background-color: #e8e8e8;
  border-radius: 5px;
  display: block;
}
.top-details .right-description .gender .gender span {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}
.top-details .right-description .gender .gender div {
  margin-left: 20px;
}

.top-details .right-description .introduce {
  margin-top: 20px;
  height: calc(100% - 35% - 40px);
  background-color: #e8e8e8;
  padding: 10px 20px 0 20px;
  overflow: scroll;
  overflow-x: hidden;
}
.right-description .introduce .title {
  text-transform: uppercase;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 10px 0;
}
.right-description .introduce .title-job {
  text-transform: uppercase;
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 40px;
  margin-bottom: 10px;
}
.right-description .introduce button {
  width: 200px;
  height: 30px;
  margin-right: 6px;
  margin-bottom: 6px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  background-color: #393053;
}
.top-details .more-image {
  margin-top: 10px;
  height: 200px;
  width: 100%;
  background-color: #e8e8e8;
  display: flex;
  overflow: hidden;
  /* padding: 0 10px 10px 10px; */
  position: relative;
}
.more-image .image-item {
  height: 100%;
  margin-left: 10px;
}
.more-image .image-item .more-image {
  height: 180px;
  width: 100%;
  border-radius: 10px;
}
.more-image .see-more-image {
  width: 90px;
  height: 210px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(142, 122, 122, 0.8);
  pointer-events: none;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.more-image .see-more-image__hide {
  display: none;
}
.btn-hoat-dong {
  margin-right: 10px;
  margin-left: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: rgb(240, 86, 74);
  border-radius: 5px;
  background-color: #EFF5F7;
  border: 1px solid #F0564A;
}
.btn-so-sanh {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: rgb(240, 86, 74);
  border-radius: 5px;
  background-color: #EFF5F7;
  border: 1px solid #F0564A;
}
div[aria-selected^="true"] button {
  color: white;
  background-color: rgb(240, 86, 74);
  border: none !important;
}
.main-details .bottom-details {
  border-top: 1px solid #ccc;
  margin: 2% 10%;
  /* display: flex; */
  justify-content: center;
  padding: 30px 50px;
}
.main-details .bottom-details .tab-item {
  width: 100%;
  padding: 5px;
}
.ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}

.bottom-details .form-danh-gia {
  width: 100%;
}
.form-danh-gia .title-danh-gia {
  font-weight: 600;
  font-size: 36px;
}
.form-danh-gia .rate {
  width: 100%;
  margin: 20px 0;
}
.rate .rate-item {
  display: flex;
  margin: 20px 0;
  padding-top: 20px;
}
.rate .rate-item .rate-item__content {
  border-bottom: 1px solid #ccc;
  width: 90%;
  margin-left: 10px;
}
.rate-item__content .busines {
  font-size: 20px;
  font-weight: 600;
}

.rate-item__content .busines a {
  text-decoration: none ;
  color: #000;
}
.rate-item__content .content-is-rated {
  width: 100%;
  word-wrap: break-word;
  padding: 20px 0;
  font-size: 20px;
}

/* css moi */

.date-item {
  display: flex;
  font-size: 20px;
  color: #000;
  opacity: 0.7;
}

.date-item div {
  padding: 0 5px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-descriptions .ant-descriptions-title {
  font-size: 24px; 
}

.rate-item__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  align-items: center;
}

.col-6-right {
  justify-content: space-around;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 20px;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
}

.col-6-right .price-booking {
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.col-6-right .btn-function {
  box-sizing: border-box;
  height: calc(50% - 20px);
  margin: 10px 0;
}

.col-12-middle .middle-row {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin: 20px;
}


/* responsive */
@media screen and (max-width: 767px) {
  .main-details .top-details {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin: 0 5%;
    padding: 70px 10px 10px;
  }
  .top-details .left-description {
    height: 400px;
    width: 35%;
  }
  .top-details .left-description .avatar {
    background-color: #e8e8e8;
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    overflow: hidden;
  }
  .top-details .left-description .slider-image {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
  }
  .top-details .left-description .contact-info {
    height: 15%;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-info img {
    height: 30%;
    margin: 10px;
    cursor: pointer;
  }

  .top-details .right-description {
    height: 400px;
    width: 65%;
    padding-left: 5%;
  }
  .top-details .right-description .name {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .top-details .right-description .name .name {
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    background-color: #e8e8e8;
    border-radius: 5px;
  }
  .top-details .right-description .gender {
    height: 20%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .top-details .right-description .gender .gender {
    height: 100%;
    width: 50%;
    font-size: 12px;
    background-color: #e8e8e8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .top-details .right-description .gender .gender span {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .top-details .right-description .introduce {
    margin-top: 20px;
    height: calc(100% - 35% - 40px);
    background-color: #e8e8e8;
    padding: 10px 20px 0 20px;
    overflow: scroll;
    border-radius: 10px;
  }
  .right-description .introduce .title {
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 10px;
  }
  .right-description .introduce button {
    width: 150px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: #393053;
  }
  .more-image .see-more-image {
    width: 160px;
    height: 210px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(142, 122, 122, 0.8);
    pointer-events: none;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-details .more-image {
    margin-top: 10px;
    height: 200px;
    width: 100%;
    background-color: #e8e8e8;
    display: flex;
    overflow: hidden;
    padding: 0 0px 10px 10px;
    position: relative;
  }
  .main-details .bottom-details {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    justify-content: center;
  }
  .main-details .bottom-details .tab-item {
    width: 100%;
  }
  .bottom-details .form-danh-gia {
    width: 100%;
    margin-top: 20px;
    background-color: #e8e8e8;
    border-radius: 20px;
    padding-bottom: 10px;
  }
  .btn-hoat-dong {
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: rgb(240, 86, 74);
    border-radius: 5px;
  }
  .btn-so-sanh {
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: rgb(240, 86, 74);
    border-radius: 5px;
  }
}
