body {
    width: 100%;
    background-color: #EFF5F7;
}

.login {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px 50px;
    box-sizing: border-box;
}


.logo {
    display: block;
    margin: 0 auto;
}

.login-form__control {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    box-sizing: border-box;

}

input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 34px;
    padding: 8px 12px;
}

form .login-form__control:nth-child(3) {
    flex-direction: row-reverse;
}

label:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.register {
    margin: 0 auto;
    border: none;
    background-color: #fff;
    font-size: 16px;
    margin-top: 30px;
}

.register:hover {
    text-decoration-line: underline;
    cursor: pointer;
}
