h1 {
  margin: 20px 10px 0;
  color: var(--color-primary-1);
}

.form {
  padding: 12px;
}

.form .form_control {
  display: flex;
  align-items: center;
  margin: 15px auto;
}

.input_profile {
  width: 66.666%;
  padding: 5px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.select_profile {
  width: 66.666%;
  outline-color: var(--color-primary-1);
}

.input_profile:focus,
.select_profile:focus {
  border: 1px solid rgb(0, 170, 255);
  box-shadow: 0 0 2px rgb(0, 170, 255);
}

.form .btnSubmit {
  background: var(--color-primary-1);
  border: none;
  color: #fff;
  padding: 3px;
  font-weight: 500;
  border-radius: 6px;
  line-height: 30px;
  font-size: 14px;
  min-width: 200px;
  width: 66.666%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form .btnSubmit:hover {
  color: var(--color-primary-1);
  background-color: #fff;
  cursor: pointer;
  border: 1px solid var(--color-primary-1);
}

.btnChange {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  line-height: 30px;
  font-size: 14px;
  width: 120px;
  margin-top: 10px;
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.avatarWrapper,
.albumWrapper {
  position: relative;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  line-height: 30px;
  font-size: 14px;
  width: 120px;
  margin-top: 10px;
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

.avatarWrapper input[type="file"],
.albumWrapper input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  opacity: 0;
  cursor: pointer;
}

.avatarWrapper:hover,
.albumWrapper:hover {
  cursor: pointer;
  border: 1px solid var(--color-primary-1);
  color: var(--color-primary-1);
}
