.admin-user-container {
  margin: 20px;
}

.modal-search {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-search-input {
  width: 50%;
  border: 1px solid #ccc;
}

.admin-modal-delete {
  display: flex;
  flex-direction: row-reverse;
}

.modal-delete-btn {
  margin: 5px 10px;
}

.modal-update-row {
  margin: 10px;
}

.modal-update-col-input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}
