.search-modal {
  position: absolute;
  left: 200px;
  top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-search {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  z-index: 2;
}

.item-search-user {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
}

.item-search-user:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}

.item-search-user .image-item-user {
  height: 120px;
  width: 100px;
  border-radius: 20px;
  border: none;
}

.item-search-user .name-item-user {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.item-search-user .role-item-user {
  margin-left: 20px;
  font-size: 20px;
  color: #ccc;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.search-input {
}
