.sidebar::-webkit-scrollbar {
    display: none; 
}

.sidebar {
    width: 250px;
    height: 700px;
    background-color: #fff;
    box-sizing: border-box;
    position: fixed;
    margin-top: 67px;
    overflow-y: scroll;
}

.item-sidebar {
    width: 100%;
    box-sizing: border-box;
}

.box-item {
    display: flex; 
    text-decoration: none;
    margin-right: 5px;
    /* width: 100%; */
    box-sizing: border-box;
    padding: 5px 20px;
}

.box-item:hover {
    background-color: rgb(240, 86, 74, 0.8);
    color: #fff;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.26); */
}

.item-sidebar .box-item p {
    font-size: 18px;
    margin: 0 0 0 16px;
    line-height: 40px;
}

.item-sidebar .box-item .anticon {
    margin-left: 10px;
}

.item-sidebar .box-item .anticon svg {
    width: 22px;
    height: 22px;
}