.ant-menu-item {
  font-size: 18px;
  background-color: rgb(240, 86, 74);
  text-align: center;
  margin-top: 10px !important;
  border-radius: 20px !important;
}
.ant-menu {
  background-color: #f0f0f0;
  height: 100%;
}
.ant-layout-sider-children {
  height: calc(100vh - 65px - 150px) !important;
}
.ant-layout .ant-layout-sider {
  background-color: #fff;
  position: fixed;
  height: calc(100vh - 65px - 150px) !important;
  left: 5%;
  top: 150px;
  transition: all 0.2s;
}

.ant-menu-item:hover {
  background-color: #1890ff !important;
  color: #fff;
}
.site-layout-content {
  background-color: #fff;
  border-left: 1px solid #bdcdd6;
  margin-top: 70px;
  overflow: auto;
  height: calc(100vh - 72px);
  margin-left: 20%;
  margin-right: 10px;
}
.ant-menu-vertical {
  border: 1px solid green !important;
  height: 500px !important;
}
.ant-menu-submenu {
  background: rgb(240, 86, 74);
  font-size: 18px;
  text-align: center;
}
.ant-menu-submenu-title {
  background-color: rgb(240, 86, 74);
  border-radius: 20px !important;
}
.ant-menu-submenu-title:hover {
  background-color: #1890ff !important;
  color: #fff;
}
.ant-menu-sub.ant-menu-inline {
  background-color: #f0f0f0 !important;
}
.submenu .ant-menu-item-only-child {
  font-size: 15px;
  width: 85%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 25px;
}
.submenu {
  background-color: #f0f0f0;
}
.ant-menu-submenu-open .ant-menu-submenu-title {
  background-color: #1677ff;
}
