.account-container {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  text-align: center;
}
.account-container .search {
  margin-bottom: 50px;
  position: relative;
}
.account-container .search input {
  width: 300px;
  height: 40px;
  outline: none;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 18px;
}
.search .total-user-enterprise {
  position: absolute;
  bottom: -30px;
  left: 30px;
}
.search .total-user-enterprise label {
  margin-left: 5px;
  font-size: 20px;
}
th.ant-table-cell {
  border: 1px solid black;
  background-color: #27e1c1 !important;
  text-align: center !important;
  font-size: 18px;
}
th.ant-table-cell::before {
  display: none;
}
td.ant-table-cell {
  margin-top: 5px !important;
  border: 1px solid black;
  border-bottom: 1px solid black !important;
  background-color: #d8d8d895;
  padding: 0 !important;
}
.account-container .name-title-table {
  font-size: 15px;
  padding-left: 30px;
}
.account-container .btn-action-group {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  gap: 20px;
}
.account-container .btn-action-group .btn-delete {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(240, 86, 74);
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}
.account-container .btn-action-group .btn-update {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(240, 86, 74);
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}
.modal-update-account {
  width: 900px;
}
.content-update {
  margin-top: 100px;
  height: 400px;
}
.content-update .child-input {
  display: flex;
  margin-bottom: 20px;
}
.content-update .child-input label {
  width: 150px;
}
.valid-boder-input {
  border: 1px solid #2c3333;
  height: 40px;
}
