.chiendich-container {
  padding: 50px 20px 0 20px;
}
.chiendich-container .text-data {
  padding-left: 20px !important;
  font-size: 15px;
}
.chiendich-container .top {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.chiendich-container .top .title {
  font-size: 20px;
  margin-left: 50px;
}
.chiendich-container .top .input-name {
  font-size: 15px;
  width: 200px;
  margin-left: 50px;
  height: 40px;
  outline: none;
  padding-left: 10px;
}
.chiendich-container .top .select-month {
  margin-left: 20px;
  width: 200px;
  height: 40px;
  outline: none;
}
.chiendich-container .top .select-trangthai {
  margin-left: 20px;
  width: 200px;
  height: 40px;
  outline: none;
}
option[value=""][disabled] {
  display: none;
}
